.selectGroupContainer
{
	border: 1px solid black;
	padding: 10px;
}

.groupTabsContainer
{
	margin: 20px;
	padding: 20px;
	text-align: center;
	border: 2px solid grey;
	border-radius: 20px;
}

.singleGroupTab
{
	border: 2px solid black;
	border-radius: 10px;
	margin: 20px;
	padding: 14px;
}

.singleGroupTab:hover
{
	background-color: lightgrey;
}

.groupsContainer
{
	text-align: center;
	margin: 20px;
}

.singleGroup
{
	display: inline-block;
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	width: 50%;
}

.singleGroup:hover
{
	background-color: lightgrey;
}

.addContactInput
{
	max-width: 50%;
	min-width: 50%;
}



.addContactDiv
{
	margin: 10px 0px 30px 0px;
}








@media only screen and (max-width: 850px)
{

	.groupTabsContainer
	{
		margin: 0px;
		padding: 5px;
	}
	.singleGroupTab
	{
		margin: 5px;
		padding: 0px;
		display: block;
	}
	.singleGroup
	{
		width: 100%;
	}
	.addContactInput
	{
		min-width: 100%;
		max-width: 100%;
	}
	
}