<!DOCTYPE html>
<html>
<head>
	<title>CleanChat</title>
</head>
<body>

	<h1>CleanChat</h1>

	<p>
		This is CleanChat, a highly extensible and cross-platform<br>
		chat app. Its purpose is to make it easy to chat with your friends<br>
		no matter what device you happen to be using.<br>
		<br>
		Currently there are four clients in active development:
		<br>
		<ul>
			<li><a href="/react">React (for modern web browsers)</a></li>
			<li>An unfinished mobile app, coming soon for iPhone and Android!</li>
			<li><a href="/retroWeb">Retro web client for ancient browsers (think Netscape)</a></li>
			<li><a href="ftp://casablanca25.mynetgear.com/software/Win9x/programs/Internet/Chat%20Clients/CCAVB3.zip">Desktop client written in Visual Basic 3.0, for Windows 3.1 and higher</a></li>
		</ul>
		<br>
		Try them all out and see what you think! Currently only the React app is<br>
		fully functional, in that you can create new users and groups in addition<br>
		to being able to enter existing chats and send and receive messages.<br>
		Soon they will all be 100% functional.<br>
	</p>

</body>
</html>